<h1>Browse Wallets</h1>

{{#each walletList}}


<img src="{{imgPath}}" width="100px" heigth="100px" alt="image missing">

<h3>{{name}}</h3>
<p>{{description}}</p>
<h5>{{rating}}</h5>



<!-- To display checked star rating icons -->
{{#times rating}}
<span class="fa fa-star checked"></span>
{{/times}}
<!-- To display unchecked star rating icons -->
{{!-- <span class="fa fa-star unchecked"></span> --}}

<a href="/wallet/{{_id}}">More Info</a>
<hr>



{{/each}}